__pycache__/
_01-00_forensic_brief_report.qmd
_03-05_feedback.html
_03-05_feedback.knit.md
_environment.local
_extensions/neurotyp/typst-template.pdf
_extensions/neurotyp/typst-template.typ.bk
_freeze/
!.env.project
.dbxignore
.DS_Store
.env
.env*
.flaskenv*
.history/
.idea
# .quartoignore
.Rproj.user
.vscode/
.vscode/settings.json
*_cache/
*_files/
*.dmg
*.pkg
*.RData
*.Rhistory
*.Rproj
*~
/_*.local
/.luarc.json
/.quarto/
/package/out
/tests/cov_profile
/tests/cov_profile.lcov
/tests/test-out.json
# _*_*.html
# _*_*.typ
# _extensions/
# *.jpg
# *.pdf
# *.png
# *.qmd
build
cache/
chat_forensic_template.*
cognitive_domains.R
file_names.sh
fillable_pdf.R
fillable_pdf2.R
forensic_neuropsych_chat_v1_joey.qmd
forensic_neuropsych_chat_v1.*
forensic_neuropsych_chat_v2_joey.pdf
forensic_neuropsych_chat_v2_joey.qmd
forensic_neuropsych_chat_v2.*
forensic.code-workspace
index_scores.xlsx
jwt_sig.png
local_data
Mental-Health-Diversion-Report-Template.md 
mental-health-diversion-template.pdf
neurobehav.csv
neurocog.csv
neuropsych_report_cache/
neuropsych.csv
neurotyp_functions.R
notes_todo.html
notes_todo.qmd
notes.sh
output/
package/dist/**
pre_render_typ.R
prerender.R
quarto_cli.egg-info
R/
refs.bib
report-output.log
report-output.tex
report.Rmd
run_scrape_pdf_nse.R
src/csv/neuropsych_lookup_table.csv
test_scale_descriptions.md
validity.csv
audio/
.history/
.Rhistory
*.code-workspace
